.container {
  width:100%;
  height:100%;
  background-color: #fff;

  font-family:proxima-nova-light;
  text-align:center;
}
.container h1 {
  font-family:proxima-nova-bold;
  font-size:40px;
  margin-top:25px;
  margin-bottom:10px;
}
.container h2 {
  font-size:20px;
  margin-bottom:10px;
}
.goalDetail-body {
  width:70%;
  margin-top:2%;
  background-color: #fff;
  display: inline-block;
  border-radius: 15px;
  border: 2px solid #aaa;
  padding:10px;
  border-bottom: solid 5px #aaa;
}
.goal-left-col {
  width:65%;
  float:left;
}
.goal-right-col {
  width:30%;
  float:right;
}
.goal-media-container, .data-box {
  margin-left:1%;
  margin-right:1%;
  margin-top:10px;
  margin-bottom:10px;
  border-radius: 15px;
  border: 1px solid #aaa;
  border-bottom: solid 3px #aaa;
}
.goal-media-container img{
  border-radius: 15px;
}
.owner-info {
  padding: 20px;
  border-bottom:1px solid #ccc;
  margin-left:10px;
  margin-right:10px;
}
.donate-box, .donations-feed {
  border: solid 1px #aaa;
  border-bottom: solid 3px #aaa;
  width:100%;
  border-radius: 15px;
  float:right;
  margin:1%;
  margin-top:10px;
}
.donate-box img {
  padding:9px;
}
.donate-box h1, .donate-box h2 {
  font-family:proxima-nova-light;
  font-size:16px;
  text-align: left;
  padding:10px;
}
.donate-box h1 {
  margin-top:10px;
  margin-bottom:10px;
  padding-bottom:0;
}
.donate-box h2 {
  margin-top:5px;
  margin-bottom:5px;
  padding-top:0;
}
.donate-box img {
  width: 20%;
  display:block;
  margin-left:40%;
}
.f-big {
  font-size: 40px;
}
.f-mid2 {
  font-size: 25px;
}
.f-mid {
  font-size: 20px;
}
.f-norm {
  font-size: 16px;
}
.f-small {
  font-size:12px;
}
.green {
  color:#47b548;
}
.bold {
  font-family: proxima-nova-bold;
}
.donations-feed h1, .data-box h1 {
  background-color: #ccc;
  font-family: proxima-nova-light;
  font-size:20px;
  text-align:left;
  margin-top:0;
  padding-top:8px;
  margin-bottom:0;
  padding-bottom:9px;
  padding-left:10px;
  border-top-left-radius:15px;
  border-top-right-radius:15px;
}
.data-box p{
  padding:20px;
  text-align: left;
}
.donations-feed p {
  font-family: proxima-nova-light;
  text-align:left;
  margin-top:0;
  padding-top: 10px;
  margin-bottom:10px;
  padding-left:10px;
  margin-left:10px;
  margin-right:10px;
  border-top:1px solid #ccc;
  position:relative;
  top:-1px;
}
.social-bar {
  padding-top:5px;
  padding-bottom:5px;
  border-top:1px solid #ccc;

  position: relative;
  background-color: #fff;
  top: -10px;
}
.prev-donations {
  float:left;
}
.next-donations {
  float:right;
}
.prev-donations, .next-donations {
  cursor:pointer;
  padding: 5px;
  font-size:16px;
  margin-left: 10px;
  margin-right: 10px;
  position:relative;
  top:-3px;
}
.prev-donations:hover, .next-donations:hover {
  text-decoration:underline;
}
.pagination-links {
  font-size:14px;
  border-top:1px solid #888;
  padding-top:9px;
}
.donate-btn {
  font-family: proxima-nova-bold;
  font-size: 25px;
  color: #fff;
  background-color: #47b548;
  border-bottom: 3px solid #1c6d28;
  border-radius: 10px;
  line-height: 100px;
  width: 84%;
  margin-left: 8%;
  display: block;
}
.donate-btn:hover {
  text-decoration:none;
  color:#fff;
}
.donate-btn:active {
  position:relative;
  top:3px;
  background-color:#1c6d28;
  border-bottom: none;
}
.facebook-big-btn, .facebook-small-btn {
  font-family: proxima-nova-bold;
  background-color:#4c66a4;
  color:#fff;
  font-size:18px;
  line-height:32px;
  border-radius:10px;
  border-bottom: 3px solid #334D8B;
}
.facebook-big-btn:hover, .facebook-small-btn:hover {
  text-decoration:none;
  color:#fff;
}
.facebook-big-btn:active, .facebook-small-btn:active {
  position:relative;
  top:3px;
  background-color:#334D8B;
  border-bottom: none;
}
.facebook-big-btn {
  width: 84%;
  margin-left: 8%;
  display: block;
}
.facebook-small-btn {
  padding-top:6px;
  padding-bottom:6px;
  padding-left:16px;
  padding-right:16px;
}
.twitter-btn {
  font-family: proxima-nova-bold;
  background-color:#3cf;
  color:#fff;
  font-size:18px;
  line-height:32px;
  border-radius:10px;
  border-bottom: 3px solid #1AB3E6;
  padding-top:6px;
  padding-bottom:6px;
  padding-left:16px;
  padding-right:16px;
}
.twitter-btn:hover {
  text-decoration:none;
  color:#fff;
}
.twitter-btn:active {
  position:relative;
  top:3px;
  background-color:#1AB3E6;
  border-bottom: none;
}
#share-count {
  color:#087cb1;
  font-size:45px;
  font-family: proxima-nova-bold;
}
