.top-bar {
  height:60px;
  background-color: #087CB1;
  font-family: proxima-nova-light;
  text-align:center;
}
.logo {
  height:60px;
  position:absolute;
  top:0;
  left:0;
}
.logo img {
  height:100%;
}
.search-container {
  margin: 0 auto;
  width:200px;
  padding-top:16px;
}
#search {
  border-radius:0;
  border:none;
  background-color: rgba(255,255,255,0.2);
  color: #fff;
  font-family: proxima-nova-light;
}
#search::-webkit-input-placeholder {
  color: white;
}
#search:-moz-placeholder { /* Firefox 18- */
  color: white;  
}
#search::-moz-placeholder {  /* Firefox 19+ */
  color: white;  
}
#search:-ms-input-placeholder {  
  color: white;  
}
.search-icon {
  width: 22px;
  float: right;
  position: relative;
  top: -35px;
  right: -10px;
}
.search-icon img{
  width:22px;
}
.v-cntr-outer2, .v-cntr-outer {
  height:100%;
  display: inline-block;
}
.v-cntr-outer:before {
  display: block;
  height: 50%;
  content:"";
}
.v-cntr-inner {
  display:inline;
  vertical-align: top;
  line-height:0;
}
.v-cntr-inner2 {
  position:relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.login-link {
  position:absolute;
  top:0;
  right:0;
  margin-right:20px;
  font-size: 26px;
  line-height:60px;
}
.login-link a.login-link-text {
  color:white;
  text-decoration:none !important;
}
a.login-close-text {
  color:black;
}
