html,body{
  height:100%;
}
.landing-body {
  background-color: #ddd;
  height:98%;
  width:100%;
  background-image: url('bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position:center bottom;
}
.box {
  position: absolute;
  left: 33%;
  top: 33%;
  width: 33%;
  background-color: rgba(255,255,255,0.8);
  font-family: proxima-nova-thin;
  font-size: 37px;
  text-align: center;
  color: #111;
  -webkit-box-shadow: 5px 5px 11px 0px rgba(50, 50, 50, 0.51);
  -moz-box-shadow:    5px 5px 11px 0px rgba(50, 50, 50, 0.51);
  box-shadow:         5px 5px 11px 0px rgba(50, 50, 50, 0.51);
  padding: 20px;
}
/*
.box-effect {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-image: url('http://wallpaperscraft.com/image/79930/2871x1806.jpg?orig=1');
  background-size: 250%;
  background-repeat: no-repeat;
  background-position:50% 19%;

  -webkit-filter: blur(15px);
     -moz-filter: blur(15px);
       -o-filter: blur(15px);
      -ms-filter: blur(15px);
          filter: blur(15px);
  opacity: 0.95;
}*/
.goal-bar {
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 18px;
  margin-bottom: 12px;
  height:33px;
}
.goal-bar input {
  height:31px;
  width:70%;
  margin:0;
  padding:0;
  padding-left:9px;
  padding-right:19px;
  border:1px solid black;
  font-family:proxima-nova-light;
  color: #111;
  border-radius:0;
}
.goal-bar input#deadline{
  padding-left:39px;
  width:70%;
}
.goal-bar input:focus{
  border:1px solid black;
}
.goal-bar img {
  position: absolute;
  left: 14.5%;
  width: 22px;
  bottom: 33px;
}
.go-btn {
  margin:0;
  padding:0;
  border:1px solid black;
  border-left:0;
  height:33px;
  width:40px;
  background-color:#28AD37;
  color:#fff;
  position:relative;
  left:-12px;
  font-family:proxima-nova-thin;
  font-size:20px;
}
.go-btn:hover {
  background-color:#3ECF4F;
}
.charity-list {
  font-size: 19px;
  text-align: left;
  background-color: #fff;
}
.charity-list li {
  padding-left: 5px;
}
.charity-list li:hover {
  background-color: #1770B0;
  color:#fff;
}
.back-btn {
  position:absolute;
  top:40%;
  left:1%;
  height:50px;
  width:50px;
  text-align:center;
  font-size:40px;
  line-height:50px;
  cursor:pointer;
  border-radius:25px;
  -webkit-box-shadow: inset 1px 3px 13px 2px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    inset 1px 3px 13px 2px rgba(50, 50, 50, 0.75);
  box-shadow:         inset 1px 3px 13px 2px rgba(50, 50, 50, 0.75);
}
.back-btn img {
  border-radius:25px;
  -webkit-box-shadow: 1px 2px 13px 2px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    1px 2px 13px 2px rgba(50, 50, 50, 0.75);
  box-shadow:         1px 2px 13px 2px rgba(50, 50, 50, 0.75);
}
