<template name="advertising">
  <div class="ad-fotter">
    <span style="float:left;">
      <a href="#"><img src="landing-facebook.png" width="18"/></a>
      <a href="#"><img src="landing-twitter.png" width="18"/></a>
      <a href="#"><img src="landing-pinterest.png" width="18"/></a>
      <a href="#"><img src="landing-instagram.png" width="18"/></a>
      <a href="#"><img src="landing-email.png" width="18"/></a>
    </span>
    <a href="#">BLOG</a>
    <a href="/faq">FAQ</a>
    <a href="/terms">TERMS</a>
    <a href="/privacy.pdf">PRIVACY</a>
  </div>
</template>
