<template name="donate">
  <div>
    <h1>I will donate</h1>
    <input type='number' class="amount"/>
    <p>via</p>
    Your Name: <input type='text' name="first"/> <input type='text' name="last"/><br>
    Your email: <input type='text' /><br>
    Card Number: <input type='text' /><br>
    CVV: <input type='text' /><br>
    Expiration Date: <input type='text'/><br>
    Zip code: <input type='text'/><br>
    Personal Message: <input type='text'/><br>
    <button>Continue</button>
  </div>
</template>
