<template name="editGoal">
  <h1 class="edit-header">I will {{goal}} by {{deadline}}</h1>
  {{#unless firstEdit}}
    <div class="social-heading-bar">
      <span class="bold">Share your page!</span>
      {{> fbSmall}}
      {{> twitter}}
      <a href="#" data-toggle="modal" data-target="#emailModal"><img src="/email.png" style="width:30px"/> Email</a>
      <a id="share-link" href="#" style="float:right;">
        <img src="/mouse.png" style="width:30px"/> Share Link
        <div id="view-link" style="display:none">
          http://reachrr.com/goal/{{_id}}
        </div>
      </a>
    </div>
  {{else}}
    <a style="float:right; font-family:proxima-nova-light; padding:10px" href="/goal/{{_id}}">View Goal</a>
  {{/unless}}
  {{#if firstEdit}}
    <br>
  {{/if}}
  <div class="edit-goal-body">
    {{#unless firstEdit}}
    <h1>
      <img class="big-pic" src="{{currentUser.profile.picture}}"/>
      You Have Raised <span class="green bold">${{amountRaised}}</span>
      <div class="f-mid">
        for <span class="bold">{{charity}}</span>
        <a href="/goal/{{_id}}">View Goal</a>
      </div>
      {{#unless finished}}
        <a href="#" class="complete-goal-btn">I completed my goal!</a>
      {{/unless}}
    </h1>
    <div class="make-update-body">
      <img class="big-pic" src="{{currentUser.profile.picture}}"/>
      <span class="bold f-mid2">Post an Update</span>
      <div class="post-update-box">
        <textarea id="update-msg" type="text" placeholder="Keep your supporters in the loop with frequent updates"></textarea>
        <div class="update-bottom-row">
          <div class="update-bottom-row-left">
            <a href="#" data-toggle="modal" data-target="#uploadModal"><img src="/camera.png" class="camera-icon"/> PHOTO</a>
            <a href="#"><img src="/video.png" class="camera-icon"/> VIDEO</a>
          </div>
          <div class="update-bottom-row-right">
            <a href="#"><img src="/f-button.png" class="social-btn"/></a>
            <a href="#"><img src="/bird-button.png" class="social-btn"/></a>
            <button id="makeupdate">Post <img width="14" src="/arrow-icon.png"/></button>
          </div>
        </div>
      </div>
    </div>
    {{/unless}}
    <div class="l-col">
      <br>
      <p class="bold">Your Name</p>
      <p class="bold">Your Goal</p>
      <p class="bold">Deadline</p>
      <p class="bold">Photo/Video</p>
      <br>
      <br>
      <p class="bold">Why is this goal</p>
      <p class="bold">important to me?</p>
      <br>
      <p class="bold">Why this charity?</p>
    </div>
    <div class="r-col">
      <h2 class="bold">Customize Your Page</h2>
      {{#if userHasName}}
        <p><input id="username" type="text" value="{{name}}"/></p>
      {{else}}
        <p><input id="username" type="text" placeholder="So your friends will recognize you"/></p>
      {{/if}}
      <p><input id="goal" type="text" value="{{goal}}"/></p>
      <p><input id="deadline" type="text" value="{{deadline}}" placeholder="MM/DD/YYYY"/></p>
        {{#if videoEmbed}}
          {{{videoEmbed}}}
        {{else}}
          {{#if photoURL}}
            <img style="height:110px; float:right; margin-right:8%;" src="{{photoURL}}"/>
          {{else}}
            {{#if shouldShowPhoto}}
              <img src="/bg.jpg" style="height:110px; float:right; margin-right:8%;"/>
            {{/if}}
          {{/if}}
        {{/if}}
      <p class="bold l-justify">Upload Photo</p>
      <p class="l-justify">
      {{#S3 callback="photoUpload"}}
        <input id="photoURL" type="file">
      {{/S3}}</p>
      <p class="bold l-justify">Video Embed</p>
      <p class="l-justify"><input id="videoEmbed" type="text" value="{{videoEmbed}}"/></p>
      <p><textarea id="whyGoal" placeholder="Inspirational Context">{{whyGoal}}</textarea></p>
      <p><textarea id="whyCharity" placeholder="Moving Story">{{whyCharity}}</textarea></p>
    </div>
    <button id="savechanges">Save</button>
    <a id="delete-goal" href="#">Delete Goal</a>
  </div>
  <div id="uploadModal" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title">Upload Photo</h4>
        </div>
        <div class="modal-body">
          <input type="file" id="updatePhoto"/>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
  {{> emailModal}}
  {{> emailModal2}}
</template>
