<template name="editGoal">
  <h1 class="edit-header">I will {{goal}}</h1>
  <div class="social-heading-bar">
    <span class="bold">Share your page!</span>
    {{> fbSmall}}
    {{> twitter}}
    <a href="#"><img src="email.png"/>Email</a>
    <a href="/goal/{{_id}}" style="float:right;">
      <img src="mouse.png"/>http://www.soyouwana.com/goal/{{_id}}
    </a>
  </div>
  <div class="edit-goal-body">
    <h1>
      You Have Raised <span class="green bold">${{amountRaised}}</span>
      <div class="f-mid">for <span class="bold">{{charity}}</span></div>
    </h1>
    <button id="savechanges">Save</button>
    {{#if userHasName}}
      <p>Your name: <input id="username" type="text" value="{{name}}"/></p>
    {{else}}
      <p>Your name: <input id="username" type="text" placeholder="So your friends will recognize you"/></p>
    {{/if}}
    <p>Your Goal: <input id="goal" type="text" value="{{goal}}"/></p>
    <p>The Deadline: <input id="deadline" type="text" value="{{deadline}}" placeholder="MM/DD/YYYY"/></p>
    <p>Your Charity: <input id="charity" type="text" value="{{charity}}"/></p>
    <a href="/goal/{{_id}}">View Goal</a>
    <p>Why I want to accomplish this: <textarea id="whyGoal">{{whyGoal}}</textarea></p>
    <p>Why I picked this charity: <textarea id="whyCharity">{{whyCharity}}</textarea></p>
    <p>Photo URL: <input id="photoURL" type="text" value="{{photoURL}}"/></p>
    <p>Video Embed: <input id="videoEmbed" type="text" value="{{videoEmbed}}"/></p>
  </div>
  <div class="make-update-body">
    <input id="update-msg" type="text"/>
    <button id="makeupdate">Update</button>
  </div>
  <div>
    {{#unless finished}}
      <button class="complete-goal-btn">I completed my goal!</button>
    {{/unless}}
  </div>
</template>
