<template name="faq">
  <div class="container l-align">
    <div class="faq-inner">
      <h3>How does reachrr work?</h3>
      <p>Reachrr makes it incredibly easy to crowdfund online for the things that matter to you most. In less than a minute, you create a fundraising campaign that is contingent on your achieving a personal goal of your choice. Our platform lets you share it with the people in your life and update them on your progress. </p>

      <h3>Do donors get charged extra?</h3>
      <p>Most definitely not! Donors are charged only the amount they choose to donate to you and that's it.</p>

      <h3>How do I get the funds to go through to my charity?</h3>
      <p>Once you confirm that you have completed your goal, we charge the credit cards of your donors and make the donation to your charity.</p>

      <h3>What happens if I don't complete my goal?</h3>
      <p>The funds will only go through if you confirm that you completed your goal. </p>

      <h3>Do I have to report that my goal was completed before the deadline?</h3>
      <p>Yes, if you don't report it on time, then the funds don't go through. </p>

      <h3>If I complete a goal, how do the funds go through?</h3>
      <p>We use Braintree to process the credit cards. Braintree charges 2.7%+30 cents per transaction.  We then use FirstGiving to send the funds to your charity. FirstGiving charges 4.5% per transaction.</p>

      <h3>Why does Reachrr have to charge 5%? </h3>
      <p>Reachrr has major operating expenses like any popular internet service including technology, infrastructure, payroll and benefits for our dedicated team of employees. We have purposely created a business model that allows users to sign-up and launch their campaign for free. Visitors to our users' campaigns are greeted with a frustration-free giving experience, void of advertisements and other distractions - helping our users raise even more money.</p>

      <h3>How do I spread the word about my goal?</h3>
      <p>Reachrr is integrated with twitter and facebook. We also give you the option to share your goal via email and links. Don't forget that anyone in the Reachrr community can hear about your campaign through our website and donate on their own.</p>

      <h3>What types of goals can I create?</h3>
      <p>Anything you can think of! Be it wanting to bike across the country, run a marathon, write that book that you've always dreamed of, or lose 20 pounds.</p>

      <h3>How do I update people on my progress?</h3>
      <p>There is an edit goal tab that allows you to not only update your friends on your progress, but also confirm that you completed the goal.</p>

      <h3>Do I have to use my facebook account?</h3>
      <p>Although optional, connecting your account to Facebook is highly recommended and makes sharing your campaign with others incredibly easy. Don't worry, we'll never post anything to your Facebook account unless you say so.</p>

      <h3>How do I contact Reachrr?</h3>

      <p>You can contact the Reachrr team at: <a href="mailto:adamb@reachrr.com" target="_blank">adamb@reachrr.com</a></p>
    </div>
  </div>
</template>
