<template name="findGoal">
  <div class="container">
    <div class="l-align search-results">
      <h1>Results (<span class="blue">{{resultCount}}</span>)</h1>
    {{#each goals}}
      <div class="goal-box">
        {{#if videoEmbed}}
          {{{videoEmbed}}}
        {{else}}
          <div class="photo">
          {{#if photoURL}}
            <img src="{{photoURL}}"/>
          {{else}}
            <img src="/bg.jpg"/>
          {{/if}}
          </div>
        {{/if}}
        <h3><a href="/goal/{{_id}}">I will {{goal}}.</a></h3>
        <p>by {{ownerName}}</p>
        <br>
        <p>
        {{#if whyGoal}}
          {{whyGoal}}
        {{else}}
          {{#if whyCharity}}
            {{whyCharity}}
          {{else}}
            The owner hasn't said much about this goal
          {{/if}}
        {{/if}}
        </p>
        <br>
        <img src='/charity-wings.png'/> {{charity}}
        <div class="bottom-row">
          <div>
            <span class="green bold">${{raisedAmount}}</span>
            <br>
            Raised
          </div>
          <div style="margin-left:15px">
            <span class="green bold">{{donorCount}}</span>
            <br>
            Donors
          </div>
          <div style="margin-left:15px">
            <span class="green bold">{{daysToGo}}</span>
            <br>
            Days to go
          </div>
        </div>
      </div>
    {{/each}}
    </div>
  </div>
</template>
