<template name="goalDetail">
  <div>
    <h1>
      I will {{goal}} by {{deadline}} for {{charity}}
    </h1>
    {{#if ownersGoal}}
      <a href="/goal/{{_id}}/edit">edit</a>
    {{/if}}
    <div class="donate-box">
      <p>${{donatedAmount}} raised by {{donatorCount}} people in {{timeLive}} days</p>
      <a href="/donate/{{_id}}">donate</a>
    </div>
    <div class="donations-feed">
      {{#each donation}}
        <p>${{amount}} given by {{name}} at {{created_at}}</p>
      {{/each}}
    </div>
  </div>
</template>
