<template name="headingBar">
  <div class="top-bar">
    <a href="{{pathFor 'landing'}}" class="logo"><img src="http://i.imgur.com/SroaIc4.png"/></a>
    <div class="v-cntr-outer2">
      <input type="text" id="search" placeholder="Find a Goal" class="v-cntr-inner2"/>
    </div>
    <div class="find-goal-link v-cntr-outer">
      <a href="{{pathFor 'findGoal'}}" class="v-cntr-inner">Fund a Goal &#8594;</a>
    </div>
  </div>
    {{#unless sessionGet 'goalId'}}
      <span class="login-btns">{{> loginButtons align="right"}}</span>
    {{/unless}}
</template>
