<template name="headingBar">
  <div class="top-bar">
    <a href="{{pathFor 'landing'}}" class="logo"><img src="http://i.imgur.com/SroaIc4.png"/></a>
    <div class="search-container">
      <input type="text" id="search" placeholder="Find a Goal" class=""/>
      <a href="{{pathFor 'findGoal'}}" class="search-icon"><img src="/search-icon.png"/></a>
    </div>
    <div class="login-link">
    {{#unless sessionGet 'goalId'}}
      {{> loginButtons align="right"}}
    {{/unless}}
    </div>
  </div>
</template>
