<template name="headingBar">
  <div class="top-bar">
    <a href="{{pathFor 'landing'}}" class="logo"><img src="http://i.imgur.com/SroaIc4.png"/></a>
    <div class="search-container">
      <input type="text" id="search" placeholder="Search Projects" class=""/>
      <a href="{{pathFor 'findGoal'}}" class="search-icon"><img src="/search-icon.png"/></a>
    </div>
    <div class="login-link dropdown">
    {{#unless sessionGet 'goalId'}}
      <span id="drop-toggle" data-toggle="dropdown"></span>
      {{#unless currentUser}}
        {{> loginButtons align="right"}}
      {{else}}
        {{#if currentUser.profile.name}}
          <a class="login-link-text" id="login-name-link">{{currentUser.profile.name}} ▾</a>
        {{else}}
          <a class="login-link-text" id="login-name-link">My Account ▾</a>
        {{/if}}
      {{/unless}}
      {{#if currentUser}}
        <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="drop-toggle">
          <li role="presentation"><a role="menuitem" tabindex="-1" href="/goal/{{userGoalId}}">View Goal</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="/goal/{{userGoalId}}/edit">Edit Goal</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="/faq">FAQ</a></li>
          <li role="presentation" class="divider"></li>
          <li role="presentation"><a id="logout-from-dropdown" role="menuitem" tabindex="-1" href="#">Log Out</a></li>
        </ul>
      {{/if}}
    {{/unless}}
    </div>
  </div>
</template>
