<template name="landing">
  <div class="landing-body">
    {{#if noGoal}}
      {{> yourGoal}}
    {{/if}}

    {{#if goalWithoutDeadline}}
      {{> deadline}}
      {{> backBtn}}
    {{/if}}

    {{#if deadlineWithoutCharity}}
      {{> charity}}
      {{> backBtn}}
    {{/if}}

    {{#if theCharity}}
      {{#if currentUser}}
        {{> finalInfo}}
      {{else}}
        {{> signup}}
      {{/if}}
    {{/if}}
  </div>

  {{> advertising}}
</template>


<template name="backBtn">
  <div class="back-btn">
    &#8592;
  </div>
</template>
