<template name="facebook">
<a title="Share on Facebook" href="#http://www.facebook.com/sharer.php?s=100&p[title]=Support%20this%20Goal&p[url]={{loc}}" class="facebook-big-btn">Share on Facebook</a>
<!-- <iframe src="//www.facebook.com/plugins/like.php?href={{loc}}&amp;width&amp;layout=standard&amp;action=like&amp;show_faces=true&amp;share=true&amp;height=30&amp;appId=703562013043087" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:30px;" allowTransparency="true"></iframe> -->
</template>
<template name="twitter">
<iframe allowtransparency="true" frameborder="0" scrolling="no"
src="https://platform.twitter.com/widgets/tweet_button.html"
style="width:130px; height:20px;"></iframe>
</template>
<template name="fbSmall">
<a title="Share on Facebook" href="#http://www.facebook.com/sharer.php?s=100&p[title]=Support%20this%20Goal&p[url]={{loc}}" class="facebook-small-btn">Share</a>
</template>
