<template name="facebook">
<a title="Share on Facebook" href="https://www.facebook.com/dialog/share?app_id=703562013043087&display=popup&href={{loc}}&redirect_uri={{loc}}" class="facebook-big-btn">Share on Facebook</a>
<!-- <iframe src="//www.facebook.com/plugins/like.php?href={{loc}}&amp;width&amp;layout=standard&amp;action=like&amp;show_faces=true&amp;share=true&amp;height=30&amp;appId=703562013043087" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:30px;" allowTransparency="true"></iframe> -->
</template>
<template name="twitter">
<a href="https://twitter.com/share" target="_blank" class="twitter-btn"><img src="/twit.png" style="width:24px; position:relative; top:4px; left:-3px;"/>Tweet</a>
</template>
<template name="fbSmall">
<a title="Share on Facebook" href="https://www.facebook.com/dialog/share?app_id=703562013043087&display=popup&href={{loc}}&redirect_uri={{loc}}" class="facebook-small-btn"><img src="/fb.png" style="width:14px; position:relative; top:6px; left:-4px;"/>Share</a>
</template>
